{% extends "base.html" %}

{% block content %}
    <h1>Miniblog</h1>
    <p>Lil page where you can create your own blog and post content :~)</p>
    <p>Some stats - </p>
    <ul>
        <li>Blogs -  {{ num_blogs }}</li>
        <li>Users - {{ num_users }}</li>
        <li>Posts - {{ num_posts }}</li>
        {% if latest_post %}
            <li>Latest Post - <a href="{% url 'post-detail' blog_pk=latest_post.blog.id post_pk=latest_post.id %}">{{ latest_post.title }}</a></li>
        {% endif %}
    </ul>
{% endblock %}