{% extends "base.html" %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p><strong>{{ post.author }}</strong> - {{ post.posted_on }}</p>
    <p>{{ post.body }}</p>

    {% if post.comment_set.all %}
        <hr size="1">
        <p>{{ post.comment_set.all.count }} {% if post.comment_set.all.count == 1 %} Comment {% else %} Comments {% endif %}</p>
        {% for comment in post.comment_set.all %}
            <p><strong>{{ comment.user }}</strong> - {{ comment.posted_on }}</p>
            <p>{{ comment.text }}</p>
        {% endfor %}
    {% endif %}
    <hr size="1">
    {% if user.is_authenticated %}
        <form action="{% url 'comment-create' %}" method="post">
            {% csrf_token %}
            {{ form.text }}
            {{ form.post.as_hidden }}
            {{ form.user.as_hidden }}
            <input type="submit" value="Comment" />
        </form>
    {% else %}
    <p>Login to comment</p>
    {% endif %}
{% endblock %}