* {
    font-family: "Courier New";
}

.container {
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    grid-template-areas:
        "sidebar content";
}

.sidebar {
    grid-area: sidebar;
}

.sidebar li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

.content {
    grid-area: content;
}

li {
    list-style: none;
}

ul {
    padding-left: 0px;
}